<!DOCTYPE html>
<html lang="en" style="--hover: #252b3c;
--nav-primary-font-colour: white;
--nav-secondary-font-colour: white;
--background-colour: #000000;
--background-font-colour: #a5bdd9;
--background-heading-colour: #ffffff;
--primary-background: #0b1118;
--primary-font-colour: #a5bdd9;
--primary-border-colour: #363c4e;
--primary-link-colour: #FFFFFF;
--secondary-background: #000000;
--secondary-font-colour: #a5bdd9;
--secondary-heading-colour: #ffffff;
--border-colour: #434651;

height: 100%;"><head><style>body {transition: opacity ease-in 0.2s; } 
body[unresolved] {opacity: 0; display: block; overflow: hidden; position: relative; } 
</style>
    <meta charset="UTF-8">
    <title>Raven Coin Finance</title>

    <!--Include Header snippet-->
    





<meta name="mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, user-scalable=no">

<meta property="og:description" content="Forex, Stocks, ETFs &amp; Options | Trade Sphere Finance - Online Trading Platform">
<meta property="”og:image”" content="””">
<meta property="”og:title”" content="Trade Sphere Finance">


<link rel="shortcut icon" href="static/ravencoinfinance/assets/images/pwa/favicon.ico">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="static/ravencoinfinance/assets/css/site/reactapp-modules.css">
<link rel="stylesheet" href="static/ravencoinfinance/assets/css/libs/flag-icon-css/css/flag-icon.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<link href="static/account/assets/global-cfd-market.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" charset="UTF-8" href="https://www.gstatic.com/_/translate_http/_/ss/k=translate_http.tr.69JJaQ5G5xA.L.W.O/d=0/rs=AN8SPfpC36MIoWPngdVwZ4RUzeJYZaC7rg/m=el_main_css">
<script type="text/javascript" charset="utf-8" async="" src="https://www.smartsuppchat.com/loader.js?"></script><script type="text/javascript" charset="UTF-8" src="https://translate.googleapis.com/_/translate_http/_/js/k=translate_http.tr.en_GB.c_zC7qUnTFY.O/d=1/exm=el_conf/ed=1/rs=AN8SPfoBlmfmYftMKBfrazMTdGZqwlOJOw/m=el_main"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script><style>
    .newbtn{
      background-color: #286090;
      border-color: #122b40;
      font-size: 16px;
      font-weight: bold;
      border-radius: 30px;
      border-width: 0;
      margin-top: 15px;
      padding: 10px 72px;
      color: white;
      
  }
  
  
  
  </style></head>





  <body style="position: relative; min-height: 100%; top: 0px;">
      <noscript> You need to enable JavaScript to run this app. </noscript>

      <div id="root">
      
        
      <!--include navbar snipet-->






<style>
    .alert {
padding: 15px;
margin-bottom: 20px;
border: 1px solid transparent;
border-radius: 4px;
}

.alert h4 {
margin-top: 0;
color: inherit;
}

.alert .alert-link {
font-weight: bold;
}

.alert > p,
.alert > ul {
margin-bottom: 0;
}

.alert > p + p {
margin-top: 5px;
}

.alert-dismissable,
.alert-dismissible {
padding-right: 35px;
}

.alert-dismissable .close,
.alert-dismissible .close {
position: relative;
top: -2px;
right: -21px;
color: inherit;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #3c763d;
}

.alert-success hr {
border-top-color: #c9e2b3;
}

.alert-success .alert-link {
color: #2b542c;
}

.alert-info {
background-color: #d9edf7;
border-color: #bce8f1;
color: #31708f;
}

.alert-info hr {
border-top-color: #a6e1ec;
}

.alert-info .alert-link {
color: #245269;
}

.alert-warning {
background-color: #fcf8e3;
border-color: #faebcc;
color: #8a6d3b;
}

.alert-warning hr {
border-top-color: #f7e1b5;
}

.alert-warning .alert-link {
color: #66512c;
}

.alert-danger {
background-color: #f2dede;
border-color: #ebccd1;
color: #a94442;
}

.alert-danger hr {
border-top-color: #e4b9c0;
}

.alert-danger .alert-link {
color: #843534;
}
  </style>

  <script>
    window.setTimeout(function() {
$(".alert").fadeTo(500, 0).slideUp(500, function(){
    $(this).remove(); 
});
}, 4000);
  </script>




<div class="navbar-fixed">
    <nav class="bg "><div class="nav-wrapper">
        <ul class="left">
            <li><a data-target="sn" class="sidenav-trigger show-on-large"><span class="material-icons notranslate">menu</span></a></li>
            <li><a href="/dashboard">Trade Sphere Finance</a></li></ul>
            <ul class="right">
                <li><a title="Sign Out" href="/logout"><span class="material-icons notranslate ">power_settings_new</span></a></li></ul></div></nav>
</div>
<ul class="sidenav" id="sn" style="transform: translateX(-105%);">
    <li><div class="user-view">
        <div class="background">
            <img src="static/account/assets/images/site/Office.jpg"></div>
            <a href="#user">
                
                
                <% if (user.image) { %>
                    <img src="/IMG_UPLOADS/<%= user.image %>" class="circle" height="150px" alt="Profile Picture">
                  <% } else { %>
                    <img src="static/account/assets/images/user.png" class="circle" height="150px" alt="Default Profile Picture">
                  <% } %>
            
            </a>


            <h5 class="white-text " style="margin-bottom: 0px; padding-bottom: 0px;"><%=user.first_name%><%=user.last_name%></h5>
            <small class="white-text email">Live Account</small></div></li><li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li class="active"><div class="collapsible-body" style="display: block;">
                <ul><li><a class="sidenav-close" href="/dashboard"><span class="material-icons notranslate">home</span><span style="padding-left: 10px;">Home</span></a></li>
                    <li><a class="sidenav-close" href="/account/<%=user._id%>"><span class="material-icons notranslate">account_circle</span><span style="padding-left: 10px;">Account</span></a></li>
                  
                    <li><a class="sidenav-close" href="/depositHistory/<%=user._id%>"><span class="material-icons notranslate">input</span><span style="padding-left: 10px;">Deposit History</span></a></li>
                    <li><a class="sidenav-close" href="/withdrawHistory/<%=user._id%>"><span class="material-icons notranslate">payments</span><span style="padding-left: 10px;">Withdrawal History</span></a></li>
                    <li><a class="sidenav-close" href="/buy_coins"><span class="material-icons notranslate">shopping_bag</span><span style="padding-left: 10px;">Buy Coin</span></a></li>
                    <li><a class="sidenav-close" href="/account_types/<%=user._id%>"><span class="material-icons notranslate">upgrade</span><span style="padding-left: 10px;">Upgrade</span></a></li>
                    <li><a class="sidenav-close" href="/copy_traders/<%=user._id%>"><span class="material-icons notranslate">group</span><span style="padding-left: 10px;">Copy Traders</span></a></li>
                    <li><a class="sidenav-close" href="/logout"><span class="material-icons notranslate">power_settings_new</span><span style="padding-left: 10px;">Sign Out</span></a></li>
                
                </ul>
</div></li></ul></li></ul>
