<%- include('partials/dynaHeader')%>

<main class="app-py-1" style="height: 100vh;">
  <div class="fade-appear-done fade-enter-done">
    <section class="row">
      <div class="col l4 offset-l4 s12 center">
        <h2>Fund Account</h2><br>
        <a href="/account_types" style="font-size: 19px;">VIEW PRICING</a><br><br><br>
        <div class="card-panel">
          <form method="POST" action="" autocomplete="off" id="depositForm">
            <div class="row">
              <div class="input-field">
                <span class="prefix">USD</span>
                <label class="" for="amount">Amount</label>
                <input inputmode="decimal" type="number" id="amount" min="0" step="any" name="amount" required value="">
              </div>
              <div class="input-field undefined">
                <label class="active">To</label>
                <select id="account" name="account" class="browser-default undefined" required>
                  <% user.accountTypes.forEach(account => { %>
                    <option value="<%= account.name %>"><%= account.name %> (Min: $<%= account.minDeposit %>)</option>
                  <% }) %>
                </select>
              </div>
            </div>
            <div>
              <button type="submit" class="newbtn">Proceed</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</main>

<script>
  document.getElementById('depositForm').addEventListener('submit', function(e) {
    e.preventDefault();
    const amount = document.getElementById('amount').value;
    const account = document.getElementById('account').value;
    const userId = '<%= user._id %>'; // Assuming user ID is passed to the template

    // Store in local storage
    localStorage.setItem('depositData', JSON.stringify({
      amount: amount,
      accountType: account
    }));

    // Redirect to payment method page
    window.location.href = `/payment_method/${userId}`;
  });
</script>

<style>
  .newbtn {
    background-color: #286090;
    border-color: #122b40;
    font-size: 16px;
    font-weight: bold;
    border-radius: 30px;
    border-width: 0;
    margin-top: 15px;
    padding: 10px 72px;
    color: white;
  }
</style>

<%- include('partials/dynaFooter')%>