


<%- include('partials/header')%>


<head>
	<title>Edit User</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link rel="stylesheet" href="/assetss/index.css"> 
<link rel="stylesheet" href="/assets0/notify.css">

</head>
<body>

<section class="content" style="background-color: black;">
    
    <div id="a-notification" class="notification  gone   d-flex justify-content-start ">
		<div class="d-flex flex-column">
 
		</div>
	</div>

<div class="d-flex justify-content-between from-top">
	<div>
		<a href="/adminnavbarPage"><img src="/assetss/img/ham.svg" alt="MENU" /></a>
	</div>
	<div class="d-flex flex-column">
	    <div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<!-- <div class="d-flex justify-content-center align-items-center">
				<div class="uname">Web developer</div>
			</div> -->
			</div>
	<div>
		<a href="/account"><div class="ph">
    <img src="/assetss/img/pers.svg" alt="PROFILE" /> </div></a>
	</div>
</div>

<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2 text-gray">Editing:  <%=verify.fullname%> </h1>
    <div class="btn-toolbar mb-2 mb-md 0">
    </div>
  </div>
  
  <div class="col py-3">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active"> <%=verify.fullname%> </li>
          </ol>
        </nav>
      </div>
      <div class="col text-end fw-lighter">
        <!-- <b>Last Updated:</b> -->
        <b>VerifyId:</b> <b class="text-white"><%=verify._id%></b>
      </div>
    </div>
  
  </div>
  
  
  <form action="/editVerification/<%=verify._id%>?_method=PUT" method="POST">

    <div class="row form-group mb-4">
      <div class="col">
        <label for="email"> </label>
        <input type="text" class="form-control" id="email" name="email" value=" <%=verify.email%> " placeholder="email" required>
      </div>

      <div class="col">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" value=" <%=verify.username%>" placeholder="Username" required>
      </div>

    </div>
      
    <div class="row form-group mb-4">
      <div class="col">
        <label for="tel">Fullname</label>
        <input type="tel" class="form-control" id="fullname" name="fullname" value=" <%=verify.fullname%> " placeholder="fullname" required>
      </div>
  
      <div class="col">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" name="city" value=" <%=verify.city%> " placeholder="city" required>
      </div>
    </div>

    <div class="row form-group mb-4">

    <div class="col">
      <label for="text">Gender</label>
      <input type="text" class="form-control" id="gender" name="gender" value=" <%=verify.gender%> " placeholder="Gender" required>
    </div>

    <div class="col">
      <label for="dateofBirth">dateofBirth </label>
      <input type="text" class="form-control" id="dateofBirth" name="dateofBirth" value=" <%=verify.dateofBirth%> " placeholder="dateofBirth" required>
    </div>

  </div>

  <div class="row form-group mb-4">
    <div class="col">
      <label for="marital">Marital Status</label>
      <input type="text" class="form-control" id="marital" name="marital" value=" <%=verify.marital%> " placeholder="Marital" required>
    </div>

    <div class="col">
      <label for=" age">Age</label>
      <input type="text" class="form-control" id="age" name="age" value=" <%=verify.age%> " placeholder="  age" required>
    </div>
  </div>

  <div class="row form-group mb-4">
    <div class="col">
      <label for="  address">Notification</label>
      <input type="text" class="form-control" id="address" name="address" value="<%=verify.address%>" placeholder="address" required>
    </div>
  </div>
  
    <div class="form-group mb-4">
      <button type="submit" class="btn btn-primary">Update Verification</button>
  
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" id="deleteButton" data-bs-target="#deleteModal">Delete User</button>
  
    </div>
  
  </form>
  
</section>
  
  
  <div class="modal fade" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">You are about to remove a user Verification record.</div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            This will remove the Verification record of <b class="fw-bold"> <%=verify.fullname%> </b><br/>
            Are you sure?
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form action="/deleteVerification/<%=user._id%>?_method=DELETE" method="POST" class="position-relative">
            <button type="submit" class="btn btn-primary">Yes, Remove Verification</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<%- include('partials/footer')%>